In [87]:
#Prepare csv, sql, and textual data for llm
import pyodbc
import os
from dotenv import load_dotenv
from langchain.agents import create_sql_agent
from langchain.chains import create_sql_query_chain
from langchain.agents.agent_types import AgentType
from langchain.sql_database import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
# from langchain_openai import AzureOpenAI
load_dotenv()

True

### Connect to Azure SQL Database

In [116]:
# connect to the Azure SQL database

from sqlalchemy import create_engine
import urllib.parse

# connectionString=os.environ["py-connectionString"]
# print(connectionString)
uid = "pfiadmin" 
password = urllib.parse.quote_plus("Zongoboy@2023") 
connectionString=f"mssql+pyodbc://{uid}:{password}@testpfidb.database.windows.net/DBG_DATA?driver=ODBC+Driver+18+for+SQL+Server"

db_engine = create_engine(connectionString)

In [117]:
db = SQLDatabase(db_engine, view_support=True, schema="dbo")

# test the connection
print(db.dialect)
print(db.get_usable_table_names())
db.run("select convert(varchar(25), getdate(), 120)")

mssql
['Budget', 'CBLR_Raw', 'CHART OF ACCOUNTS', 'DEGU_Raw', 'GDP_Raw', 'GLA_Raw', 'KRI_DATA', 'NPL_Data_Raw', 'PFI_DATA', 'TBS', 'transformed_CBLR', 'transformed_DEGU', 'transformed_GLA', 'transformed_NPL']

"[('2025-08-06 12:31:47',)]"

In [100]:
db.get_table_info(['transformed_CBLR'])

'\nCREATE TABLE dbo.[transformed_CBLR] (\n\t[DATE] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[CBLR_diff] REAL NULL\n)\n\n/*\n3 rows from transformed_CBLR table:\nDATE\tCBLR_diff\n2014-02-28\t0.0\n2014-03-31\t0.0\n2014-04-30\t1.4199999570846558\n*/'

### Create llm instance

In [101]:
import ollama
from langchain_ollama import ChatOllama

llm = ChatOllama(
        model="deepseek-r1",
        temperature=0.0
    )

### Create CHAIN

In [ ]:
system_message = """
You are an agent designed to interact with a SQL database.
Given an input question, create a syntactically correct {dialect} query to run,
then look at the results of the query and return the answer. Unless the user
specifies a specific number of examples they wish to obtain, always limit your
query to at most {top_k} results.

You can order the results by a relevant column to return the most interesting
examples in the database. Never query for all the columns from a specific table,
only ask for the relevant columns given the question.

You MUST double check your query before executing it. If you get an error while
executing a query, rewrite the query and try again.

DO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the
database.

To start you should ALWAYS look at the tables in the database to see what you
can query. Do NOT skip this step.

Then you should query the schema of the most relevant tables.
""".format(
    dialect="sql",
    top_k=5,
)

In [102]:
from langchain_core.prompts import PromptTemplate

custom_prompt = PromptTemplate.from_template("""                                         
Given an input question{input}, create a syntactically correct SQL query to run.
You can rely on the list of tables {table_info} to get the syntactically correct table names.
Only return the SQL query and nothing else.
Unless user specifies, return {top_k} results.
Question: {input}
SQL Query:
""")

In [103]:
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

chain_executor = create_sql_query_chain(db=db, llm=llm, prompt=custom_prompt)

In [104]:
query = chain_executor.invoke({"input": "count the rows in the transformed_DEGU table.",
                       "question": "count the rows in the transformed_DEGU table.",
                       "table_info": ', '.join(['Budget', 'CBLR_Raw', 'CHART OF ACCOUNTS', 'DEGU_Raw', 'GDP_Raw', 'GLA_Raw', 'KRI_DATA', 'NPL_Data_Raw', 'PFI_DATA', 'TBS', 'transformed_CBLR', 'transformed_DEGU', 'transformed_GLA', 'transformed_NPL']),
                        "top_k": 5
                       })

In [ ]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
execute_query = QuerySQLDataBaseTool(db=db)
answer = execute_query.invoke(query)
answer

'[(135,)]'

### Create answer prompt for contextualization

In [ ]:
from operator import itemgetter

from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

    Question: {question}
    SQL Query: {query}
    SQL Result: {result}
    Answer: """
)

rephrase_answer = answer_prompt | llm | StrOutputParser()

chain = (
    RunnablePassthrough.assign(query=chain_executor).assign(
        result=itemgetter("query") | execute_query
    )
    | rephrase_answer
)

com_answer = chain.invoke({"question": "count the rows in the transformed_DEGU table."})
com_answer

"The number of rows in the 'transformed_DEGU' table is 135."

### Few-Shot Examples for improved performance

In [105]:
# generated using llm and a description of tables 
examples = [
    {
        "input": "Show me the change in the Community Bank Leverage Ratio over time.",
        "query": "SELECT date, CBLR_diff FROM transformed_CBLR;"
    },
    {
        "input": "What’s the latest data on exchange rate depreciation?",
        "query": "SELECT date, DEGU_diff FROM transformed_DEGU ORDER BY date DESC LIMIT 1;"
    },
    {
        "input": "Give me the GDP values recorded in the dataset.",
        "query": "SELECT date, GDP FROM GDP_Raw;"
    },
    {
        "input": "Show the trend in Non-performing loans.",
        "query": "SELECT date, NPL_diff FROM transformed_NPL;"
    },
    {
        "input": "How has the Gross Leasable Area changed over the years?",
        "query": "SELECT date, GLA_diff FROM transformed_GLA;"
    },
    {
        "input": "Find the earliest available Community Bank Leverage Ratio data.",
        "query": "SELECT date, CBLR_diff FROM transformed_CBLR ORDER BY date ASC LIMIT 1;"
    },
    {
        "input": "Display all rows from the NPL data table.",
        "query": "SELECT date, NPL_diff FROM transformed_NPL;"
    },
    {
        "input": "Give me the transformed DEGU values between 2021 and 2023.",
        "query": "SELECT date, DEGU_diff FROM transformed_DEGU WHERE date BETWEEN '2021-01-01' AND '2023-12-31';"
    },
    {
        "input": "What is the most recent Gross Leasable Area change?",
        "query": "SELECT date, GLA_diff FROM transformed_GLA ORDER BY date DESC LIMIT 1;"
    },
    {
        "input": "How has GDP evolved year over year?",
        "query": "SELECT date, GDP FROM GDP_Raw ORDER BY date;"
    }
]

In [108]:
from langchain_core.prompts import ChatPromptTemplate, FewShotChatMessagePromptTemplate

example_prompt = ChatPromptTemplate.from_messages(
    [
        ("human", "{input}\nSQLQuery:"),
        ("ai", "{query}"),
    ]
)
few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    examples=examples,
    # input_variables=["input","top_k"],
    input_variables=["input"],
)
print(few_shot_prompt.format())

Human: Show me the change in the Community Bank Leverage Ratio over time.
SQLQuery:
AI: SELECT date, CBLR_diff FROM transformed_CBLR;
Human: What’s the latest data on exchange rate depreciation?
SQLQuery:
AI: SELECT date, DEGU_diff FROM transformed_DEGU ORDER BY date DESC LIMIT 1;
Human: Give me the GDP values recorded in the dataset.
SQLQuery:
AI: SELECT date, GDP FROM GDP_Raw;
Human: Show the trend in Non-performing loans.
SQLQuery:
AI: SELECT date, NPL_diff FROM transformed_NPL;
Human: How has the Gross Leasable Area changed over the years?
SQLQuery:
AI: SELECT date, GLA_diff FROM transformed_GLA;
Human: Find the earliest available Community Bank Leverage Ratio data.
SQLQuery:
AI: SELECT date, CBLR_diff FROM transformed_CBLR ORDER BY date ASC LIMIT 1;
Human: Display all rows from the NPL data table.
SQLQuery:
AI: SELECT date, NPL_diff FROM transformed_NPL;
Human: Give me the transformed DEGU values between 2021 and 2023.
SQLQuery:
AI: SELECT date, DEGU_diff FROM transformed_DEGU WHERE date BETWEEN '2021-01-01' AND '2023-12-31';
Human: What is the most recent Gross Leasable Area change?
SQLQuery:
AI: SELECT date, GLA_diff FROM transformed_GLA ORDER BY date DESC LIMIT 1;
Human: How has GDP evolved year over year?
SQLQuery:
AI: SELECT date, GDP FROM GDP_Raw ORDER BY date;

#### Dynamic few-shot

In [114]:
from langchain_community.vectorstores import Chroma
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_ollama import OllamaEmbeddings

vectorstore = Chroma()
vectorstore.delete_collection()
example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    OllamaEmbeddings(model="nomic-embed-text"),
    vectorstore,
    k=2,
    input_keys=["input"],
)
example_selector.select_examples({"input": "Show me the change in the Community Bank Leverage Ratio over time"})
few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    example_selector=example_selector,
    input_variables=["input","top_k"],
)
print(few_shot_prompt.format(input="Show the trend in Non-performing loans."))

Human: Show the trend in Non-performing loans.
SQLQuery:
AI: SELECT date, NPL_diff FROM transformed_NPL;
Human: Show me the change in the Community Bank Leverage Ratio over time.
SQLQuery:
AI: SELECT date, CBLR_diff FROM transformed_CBLR;

In [ ]:
final_prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries."),
        few_shot_prompt,
        ("human", "{input}"),
    ]
)
print(final_prompt.format(input="What is the gdp for July 2024",table_info="some table info"))
generate_query = create_sql_query_chain(llm, db,final_prompt)
chain = (
RunnablePassthrough.assign(query=generate_query).assign(
    result=itemgetter("query") | execute_query
)
| rephrase_answer
)
chain.invoke({"question": "What is the gdp for July 2024"})

System: You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.

Here is the relevant table info: some table info

Below are a number of examples of questions and their corresponding SQL queries.
Human: Give me the GDP values recorded in the dataset.
SQLQuery:
AI: SELECT date, GDP FROM GDP_Raw;
Human: What’s the latest data on exchange rate depreciation?
SQLQuery:
AI: SELECT date, DEGU_diff FROM transformed_DEGU ORDER BY date DESC LIMIT 1;
Human: What is the gdp for July 2024

### Dynamic Table Selection, might have to exclude

In [ ]:
from operator import itemgetter
from langchain.chains.openai_tools import create_extraction_chain_pydantic
from langchain_core.pydantic_v1 import BaseModel, Field
from typing import List
import pandas as pd

def get_table_details():
    # Read the CSV file into a DataFrame
    table_description = pd.read_csv("database_table_descriptions.csv")
    table_docs = []

    # Iterate over the DataFrame rows to create Document objects
    table_details = ""
    for index, row in table_description.iterrows():
        table_details = table_details + "Table Name:" + row['Table'] + "\n" + "Table Description:" + row['Description'] + "\n\n"

    return table_details


class Table(BaseModel):
    """Table in SQL database."""

    name: str = Field(description="Name of table in SQL database.")

# table_names = "\n".join(db.get_usable_table_names())
table_details = get_table_details()
print(table_details)